body {
    background-color: #000;
    color: #fff;
}

.jumbotron {
    background-color: transparent;
    border-radius: 0;
    color: #fff;
    margin: 0;
    text-align: center;
}

.company-name,
.company-msg {
    text-align: center;
}
